<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Bem vindo {{ nome }}</h3>
       <!--<strong>{{ nome }}</strong>-->
    </div>

    <ul class="list-unstyled components">
      <li class="active">
            <a routerLinkActive="active" routerLink="">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/cadastrar-paciente">
                <i class="fas fa-address-card"></i>
                Cadastrar Novo Paciente
            </a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Pacientes
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Agendamento </a>
                  </li>
                  <li>
                      <a href="#">Tratamentos</a>
                  </li>
            </ul>
        </li>
        <li>
            <a href="#agenda">
                <i class="fas fa-address-book"></i>
                Agenda de Horarios
            </a>
        </li>
      </ul>
</nav>


