
<div class="container-fluid">
    <app-topo></app-topo>
    <div class="wrapper">
        <app-menu-lateral></app-menu-lateral>   
        <div class="container">
            <div class="jumbotron">
                <router-outlet></router-outlet>
            </div>          
        </div>
    </div>
    <app-footer></app-footer>    
</div>
