<p class="text-center">Cadastrar novo paciente</p>
<hr>
<br>
<form novalidate [formGroup]="formulario">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" 
        placeholder="Nome completo"
        formControlName="nome"
        autocomplete ="on" 
        >

        <small class="form-text text-success" *ngIf="formulario.get('nome').valid && formulario.get('nome').touched"> Ok </small>
        <small class="form-text text-danger" *ngIf="!formulario.get('nome').valid && formulario.get('nome').touched"> Nome obrigatorio </small>
      
      </div>
      <div class="form-group col-md-6">
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email" >
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <fieldset class="form-group">
              <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
                  <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" checked type="radio" value="F" formControlName="sexo">
                      <label class="form-check-label" for="inlineRadio1">Feminino</label>
                    </div>  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" value="M" formControlName="sexo">
                      <label class="form-check-label" for="inlineRadio1">Masculino</label>
                    </div>
                  </div>
              </div>
          </fieldset>
        </div>
    </div>
   
    <div class="form-row">
        <div class="form-group col-md-8">
            <label>CPF: </label>
            <input type="text"  class="form-control" placeholder="00000000000" formControlName="cpf">
        </div>
        <div class="form-group col-md-4">
            <label>Data de Nascimento: </label>
            <input type="date"  class="form-control" placeholder="00/00/0000" formControlName="dataNascimento">
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="inputFone" class="control-label">Telefone</label>
          <input type="number" class="form-control" id="inputFone" placeholder="Telefone" formControlName="telefone">
      </div>
      <div class="form-group col-md-6">
          <label for="inputFone" class="control-label">Celular</label>
          <input type="number" class="form-control" id="inputFone" placeholder="Celular"  formControlName="celular">
      </div>
    </div>
    <hr>
    <div class="form-row">
      <legend class="col-form-label">Endereço:</legend>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="inputAddress"></label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Rua" formControlName="logradouro">
      </div>
      <div class="form-group col-md-auto">      
          <label for="inputAddress"></label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Bairro" formControlName="bairro">
      </div>
      <div class="form-group col-lg-2">      
          <label for="inputAddress"></label>
          <input type="number" class="form-control" placeholder="Numero" formControlName="numero">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Cidade</label>
        <input type="text" class="form-control" id="inputCity" formControlName="cidade">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Estado</label>
        <input type="text" class="form-control" formControlName="estado">
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
          <div class="row justify-content-start">
            <a class="btn btn" routerLink="">VOLTAR</a>
          </div>
        </div>
        <div class="col">  
          <div class="d-flex justify-content-end">
            <button type="reset" class="btn btn-danger">EXCLUIR</button>
            <button type="reset" class="btn btn btn-light">LIMPAR</button>
            <button type="button" class="btn btn-success" (click)="confirmarCadastro()">SALVAR</button>
          </div>
        </div> 
    </div>
  </form>