<nav class="navbar navbar-light bg-light">
  <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="showMenu()">
                    <i class="fas fa-align-left"></i>
                    <span>Menu</span>
                </button>
            </div>
        </nav>
  </div> 
  <!--<h1 class="navbar-brand" href="#">{{ title }} </h1>-->
  <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Conta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><i class="fas fa-sign-out-alt"></i>Sair</a>
      </li>
  </ul>
</nav>
