.navbar{
    background: #71A4F3 !important;
}
.navbar-brand {
    color: white !important;
}

h1{
    font-size: 25px;
}

.nav a{
    color:#fff;
    font-size: 20px;
}
.nav :hover {
    color: black;
    background: #fff;
}

.btn-info {
    background-color: #71A4F3;
    border-color: #71A4F3; font-size: 20px;
}